<h2>Add Post</h2>
<div class="card card-body mb-3">
  <form>
    <div class="form-group">
      <label for="exampleInputEmail1">Title</label>
      <input type="email" class="form-control" name="title" placeholder="Enter title" #title>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" class="form-control" name="body" placeholder="Endter Body" #body>
    </div>
    <button (click)="addPost(title.value, body.value)" class="btn btn-dark btn-block">Submit</button>
  </form>
</div>